# This file contains the auditctl rules that are loaded
# whenever the audit daemon is started via the initscripts.
# The rules are simply the parameters that would be passed
# to auditctl.

# First rule - delete all
-D

# Increase the buffers to survive stress events.
# Make this bigger for busy systems
-b 16394

## Get rid of all anonymous and daemon junk that clogs logs
-a exit,never -F auid>2147483645
-a exit,never -F auid!=0 -F auid<500

##
## Security Scan Items: ##
##
-w /usr/bin/yum -p wa
-w /usr/sbin/rpm -p wa
-w /var/log/btmp -p wa -k session
-w /var/log/wtmp -p wa -k session
-w /var/run/utmp -p wa -k session
-w /sbin/insmod -p x
-w /sbin/modprobe -p x
-w /sbin/rmmod -p x

-a always,exit -F path=/usr/bin/curl -F perm=x -F auid>=500 -F auid!=4294967295 -k retrieve_url
-a always,exit -F path=/usr/bin/wget -F perm=x -F auid>=500 -F auid!=4294967295 -k retrieve_url

## Time stuff
-a always,exit -F arch=b64 -S adjtimex -S settimeofday -S clock_settime -k SYS_audit_time_rules
-a always,exit -F arch=b32 -S adjtimex -S settimeofday -S stime -k audit_time_rules
-a always,exit -F arch=b32 -S adjtimex -S clock_settime -S settimeofday -k SYS_audit_time_rules
-w /etc/localtime -p wa -k time-change

## System Locale
-a always,exit -F arch=b64 -S sethostname -k SYS_system-locale
-a always,exit -F arch=b64 -S setdomainname -k SYS_system-locale
-a always,exit -F arch=b32 -S sethostname -k SYS_system-locale
-a always,exit -F arch=b32 -S setdomainname -k SYS_system-locale

## Unsuccessful creation
-a always,exit -F arch=b64 -S creat -S mkdir -S mknod -S link -S symlink -F exit=-EACCES -k SYS_creation
-a always,exit -F arch=b64 -S mkdirat -S mknodat -S linkat -S symlinkat -F exit=-EACCES -k SYS_creation
-a always,exit -F arch=b32 -S creat -S mkdir -S mknod -S link -S symlink -F exit=-EACCES -k SYS_creation
-a always,exit -F arch=b32 -S mkdirat -S mknodat -S linkat -S symlinkat -F exit=-EACCES -k SYS_creation

## Unsuccessful open
-a always,exit -F arch=b64 -S openat -F exit=-EACCES -k SYS_open
-a always,exit -F arch=b64 -S open -F exit=-EACCES -k SYS_open
-a always,exit -F arch=b64 -S openat -F exit=-EPERM -k SYS_open
-a always,exit -F arch=b64 -S open -F exit=-EPERM -k SYS_open
-a always,exit -F arch=b32 -S openat -F exit=-EACCES -k SYS_open
-a always,exit -F arch=b32 -S open -F exit=-EACCES -k SYS_open
-a always,exit -F arch=b32 -S openat -F exit=-EPERM -k SYS_open
-a always,exit -F arch=b32 -S open -F exit=-EPERM -k SYS_open

## Unsuccessful close
-a always,exit -F arch=b64 -S close -F exit=-EACCES -k SYS_close
-a always,exit -F arch=b32 -S close -F exit=-EACCES -k SYS_close

## Unsuccessful modifications
-a always,exit -F arch=b64 -S rename -S truncate -S ftruncate -F exit=-EACCES -k SYS_mods
-a always,exit -F arch=b64 -S renameat -F exit=-EACCES -k SYS_mods
-a always,exit -F arch=b32 -S rename -S truncate -S ftruncate -F exit=-EACCES -k SYS_mods
-a always,exit -F arch=b32 -S renameat -F exit=-EACCES -k SYS_mods
-a always,exit -F perm=a -F exit=-EACCES -k SYS_mods
-a always,exit -F perm=a -F exit=-EPERM -k SYS_mods

## Unsuccessful deletion
-a always,exit -F arch=b64 -S rmdir -S unlink -F exit=-EACCES -k SYS_delete
-a always,exit -F arch=b64 -S unlinkat -F exit=-EACCES -k SYS_delete
-a always,exit -F arch=b32 -S rmdir -S unlink -F exit=-EACCES -k SYS_delete
-a always,exit -F arch=b32 -S unlinkat -F exit=-EACCES -k SYS_delete

## Mount options
-a always,exit -F arch=b32 -S mount -S umount2 -k SYS_mount

## Permissions auditing
-a always,exit -F arch=b64 -S chmod -S fchmod -S fchmodat -F auid>=500 -k SYS_perm_mod
-a always,exit -F arch=b64 -S chown -S fchown -S fchownat -S lchown -F auid>=500 -k SYS_perm_mod
-a always,exit -F arch=b64 -S chown -S setxattr -S fsetxattr -S removexattr -S fremovexattr -F auid>=500 -k perm_mod
-a always,exit -F arch=b64 -S chown -S lsetxattr -S lremovexattr -F auid>=500 -k perm_mod
-a always,exit -F arch=b32 -S chmod -S fchmod -S fchmodat -F auid>=500 -k SYS_perm_mod
-a always,exit -F arch=b32 -S chown -S fchown -S fchownat -S lchown -F auid>=500 -k SYS_perm_mod
-a always,exit -F arch=b32 -S chown -S setxattr -S fsetxattr -S removexattr -S fremovexattr -F auid>=500 -k perm_mod
-a always,exit -F arch=b32 -S chown -S lsetxattr -S lremovexattr -F auid>=500 -k perm_mod

## Other items required by security scan
-a always,exit -F arch=b64 -S truncate -S ftruncate -F exit=-EACCES -F auid>=500 -F auid!=4294967295 -k access
-a always,exit -F arch=b64 -S truncate -S ftruncate -F exit=-EPERM -F auid>=500 -F auid!=4294967295 -k access
-a always,exit -F arch=b64 -S init_module -S delete_module -F exit=-EACCES -F auid>=500 -F auid!=4294967295 -k access
-a always,exit -F arch=b64 -S init_module -S delete_module -F exit=-EPERM -F auid>=500 -F auid!=4294967295 -k access
-a always,exit -F arch=b32 -S truncate -S ftruncate -F exit=-EACCES -F auid>=500 -F auid!=4294967295 -k access
-a always,exit -F arch=b32 -S truncate -S ftruncate -F exit=-EPERM -F auid>=500 -F auid!=4294967295 -k access
-a always,exit -F arch=b32 -S init_module -S delete_module -F exit=-EACCES -F auid>=500 -F auid!=4294967295 -k access
-a always,exit -F arch=b32 -S init_module -S delete_module -F exit=-EPERM -F auid>=500 -F auid!=4294967295 -k access

## Execution of executables
-a always,exit -F arch=b32 -S execve -k executables
-a always,exit -F arch=b64 -S execve -k executables

## Privileged access
-w /etc/sudoers.d/ -p wa -k privileged_access
-w /bin/su -p x -k privileged_access
-w /usr/bin/sudo -p x -k privileged_access
-w /etc/sudoers -p rw -k privileged_access
-a always,exit -F arch=b64 -S execve -F euid=0 -F auid>=1000 -F auid!=-1 -F auid!=4294967295 -k privileged_access
-a always,exit -F arch=b32 -S execve -F euid=0 -F auid>=1000 -F auid!=-1 -F auid!=4294967295 -k privileged_access
-a exit,always -F arch=b64 -F euid=0 -S execve -k privileged_access
-a exit,always -F arch=b32 -F euid=0 -S execve -k privileged_access

## System reset/reboot
-w /sbin/halt -p x -k reboot
-w /sbin/init -p x -k reboot
-w /sbin/poweroff -p x -k reboot
-w /sbin/reboot -p x -k reboot
-w /sbin/shutdown -p x -k reboot

## Auditd config modification
-w /etc/audit/audit.rules -p wa -k audit_config
-w /etc/libaudit.conf -p wa -k audit_config
-w /etc/sysconfig/auditd -p wa -k audit_config
-w /var/log/audit/ -p wa -k audit_config
-w /var/log/audit/audit.log -p wa -k audit_config
-w /usr/lib/systemd/system/auditd.service -p wxa -k audit_config

## Systemctl restarts
-w /bin/systemctl -p x -k systemctl

## Printing
-w /etc/cups/ -p wa -k printing
-w /etc/printcap -p wa -k printing
-w /var/spool/cups/ -p wa -k printing
-w /var/spool/lpd/ -p wa -k printing
-a exit,always -F arch=b64 -S execve -F path=/sbin/cancel -k printing
-a exit,always -F arch=b64 -S execve -F path=/sbin/cupsaccept -k printing
-a exit,always -F arch=b64 -S execve -F path=/sbin/cupsdisable -k printing
-a exit,always -F arch=b64 -S execve -F path=/sbin/cupsenable -k printing
-a exit,always -F arch=b64 -S execve -F path=/sbin/cupsreject -k printing
-a exit,always -F arch=b64 -S execve -F path=/sbin/lp -k printing
-a exit,always -F arch=b64 -S execve -F path=/sbin/lpadmin -k printing
-a exit,always -F arch=b64 -S execve -F path=/sbin/lpc -k printing
-a exit,always -F arch=b64 -S execve -F path=/sbin/lpd -k printing
-a exit,always -F arch=b64 -S execve -F path=/sbin/lpmove -k printing
-a exit,always -F arch=b64 -S execve -F path=/sbin/lpoptions -k printing
-a exit,always -F arch=b64 -S execve -F path=/sbin/lpr -k printing
-a exit,always -F arch=b64 -S execve -F path=/sbin/lprm -k printing
-a exit,always -F arch=b64 -S execve -F path=/sbin/lpq -k printing
-a exit,always -F arch=b32 -S execve -F path=/sbin/cancel -k printing
-a exit,always -F arch=b32 -S execve -F path=/sbin/cupsaccept -k printing
-a exit,always -F arch=b32 -S execve -F path=/sbin/cupsdisable -k printing
-a exit,always -F arch=b32 -S execve -F path=/sbin/cupsenable -k printing
-a exit,always -F arch=b32 -S execve -F path=/sbin/cupsreject -k printing
-a exit,always -F arch=b32 -S execve -F path=/sbin/lp -k printing
-a exit,always -F arch=b32 -S execve -F path=/sbin/lpadmin -k printing
-a exit,always -F arch=b32 -S execve -F path=/sbin/lpc -k printing
-a exit,always -F arch=b32 -S execve -F path=/sbin/lpd -k printing
-a exit,always -F arch=b32 -S execve -F path=/sbin/lpmove -k printing
-a exit,always -F arch=b32 -S execve -F path=/sbin/lpoptions -k printing
-a exit,always -F arch=b32 -S execve -F path=/sbin/lpr -k printing
-a exit,always -F arch=b32 -S execve -F path=/sbin/lprm -k printing
-a exit,always -F arch=b32 -S execve -F path=/sbin/lpq -k printing

## PowerShell use
-a exit,always -F arch=b32 -S execve -F path=/sbin/pwsh -k powershell
-a exit,always -F arch=b64 -S execve -F path=/sbin/pwsh -k powershell


## Once you enable the following line, auditd can no longer be shut down or modified
## without a reboot. Make sure your rules are the way you want them before enabling
## this.

# -e 2