# mongod.conf

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

# where to write logging data.
systemLog:
  destination: file
  path: {{ mongo_log_path }}
  logAppend: {{ mongo_log_append | lower }}
  logRotate: {{ mongo_log_rotate }}
  verbosity: {{ mongo_log_verbosity }}

# Where and how to store data.
storage:
  dbPath: {{ mongo_db_dir }}
  journal:
    enabled: true
  engine: wiredTiger

# how the process runs
processManagement:
  fork: {{ mongo_fork_process | lower }}
  pidFilePath: {{ mongo_pid_file }}
{% if mongo_version | version_compare('3.6', '>=') %}
  timeZoneInfo: /usr/share/zoneinfo
{% endif %}

# network interfaces
net:
  port: {{ mongo_port }}
  bindIp: 0.0.0.0
{% if mongo_ssl_enabled == true %}
  ssl:
    mode: {{ mongo_ssl_mode }}
    PEMKeyFile: {{ mongo_ssl_pem_key_file }}
{% if mongo_ssl_pem_key_password | default(False) %}
    PEMKeyPassword: {{ mongo_ssl_pem_key_password }}
{% endif %}
    CAFile: {{ mongo_ssl_ca_file }}
    allowInvalidCertificates: {{ mongo_ssl_allow_invalid_certificates | lower }}
    allowInvalidHostnames: {{ mongo_ssl_allow_invalid_hostnames | lower }}
{% endif %}

security:
  authorization: {{ mongo_authorization }}

{% if mongo_init_replica_set == true %}
replication:
  replSetName: {{ mongo_replica_set_name }}
{% endif %}

{% if sharding | default(False) %}
sharding:
  clusterRole: {{ mongo_cluster_role }}
{% endif %}
