---
- name: restart clamav daemon
  service:
    name: "{{ clamav_daemon }}"
    state: restarted
  when: clamav_daemon_state != 'stopped'

- name: restart crond
  service: 
    name: crond 
    state: restarted